    
    <section class="banner">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
    </section>


    <div id="carouselExampleControlsNoTouching" class="carousel slide pt-3" data-bs-touch="false" data-bs-interval="false">
   
    <h2 class="text-center pt-3" id="nossoservicos" >Nossos Serviços</h2>
    <div class="container-fluid servicos-flex">
      <div class="card m-4" style="width: 16rem;">
        <img src="/img/estetica.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Banho & Tosa</h5>
          <p class="card-text">Um lugar onde cuidamos do bem-estar do seu animalzinho e fornecemos o padrão de beleza que eles merecem.</p>
          <a href="#" class="btn btn-primary">Saiba-mais</a>
        </div>
      </div>
      <div class="card m-4" style="width: 16rem;">
        <img src="/img/painel-pet-shop-g-frete-gratis-festa-de-crianca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pet Shop</h5>
          <p class="card-text"> Aqui você encontra tudo que precisa para seu animalzinho, e melhor ainda no conforto da sua casa </p>
          <a href="#" class="btn btn-primary">Saiba-mais</a>
        </div>
      </div>
      <div class="card m-4" style="width: 16rem;">
        <img src="/img/retrato-de-cachorro-pequines-veterinario-isolado_176532-10521.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Veterinário</h5>
          <p class="card-text">Nada de ficar dodoi, Relaxa, Oferecemos veterinários preparados e especializados na saúde animal.</p>
          <a href="#" class="btn btn-primary">Saiba-mais</a>
        </div>
      </div>
  </div>

  <h2 class="text-center pt-3" id="nossoservicos">O`que nossos clientes falam</h2>
  <div class="container-fluid servicos-flex">
    <div class="m-4 nossosclientes-alinhamento" style="width: 16rem;">
      <img src="/img/painel-pet-shop-g-frete-gratis-festa-de-crianca.jpg" class="card-img-top depoimentos-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pet Shop</h5>
        <div class="div-star">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
      </div>
        <p class="card-text">Otimo ambiente para qualquer hora</p>
      </div>
    </div>
    <div class="m-4 nossosclientes-alinhamento" style="width: 16rem;">
      <img src="/img/painel-pet-shop-g-frete-gratis-festa-de-crianca.jpg" class="card-img-top depoimentos-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pet Shop</h5>
        <div class="div-star">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
      </div>
        <p class="card-text">Otimo ambiente para qualquer hora</p>
      </div>
    </div>
    <div class="m-4 nossosclientes-alinhamento" style="width: 16rem;">
      <img src="/img/painel-pet-shop-g-frete-gratis-festa-de-crianca.jpg" class="card-img-top depoimentos-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jefferson Felix</h5>
        <div class="div-star">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
        <img src="/img/a.jpg" alt="" class="star" style="width: 16rem;">
      </div>
        <p class="card-text">Otimo ambiente para qualquer hora</p>
      </div>
    </div>


    <div class="container formulario-pet">
      <div class="row">
        <div class="col-6 esconder-col mobile-align-01">
          <h1>Precisando de atendimento? </h1>
          <p>Preencha o formulario, para podemos marcar de buscar seu doguinho no conforto da sua casa com o sistema leva e traz</p>
        </div>
        <div class="col-6 mobile-align">
          <h1 class="active">Precisando de atendimento? </h1>
          <p class="active">Preencha o formulario abaixo, para podemos marcar de buscar seu doguinho no conforto da sua casa com o sistema leva e traz</p>
          <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
              <label for="validationCustom01" class="form-label">Nome</label>
              <input type="text" class="form-control" id="validationCustom01" value="Jefferson" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustom02" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="validationCustom02" value="Felix" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustom05" class="form-label" id="CEP">CEP</label>
              <input type="text" class="form-control" id="validationCustom05" required>
            </div>
            <div class="col-md-8">
              <label for="validationCustomUsername" class="form-label"></label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">Dia</span>
                <input min="2022-06-27" type="date" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationCustomUsername" class="form-label"></label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">Horas</span>
                <input type="time" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" min="10:00"  max="18:00" required>
              </div>
            </div>
            <div class="col-md-8">
              <label for="validationCustom03" class="form-label">Rua</label>
              <input type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col-md-4">
              <label for="validationCustom04" class="form-label">Estado</label>
              <select class="form-select" id="validationCustom04" required>
                <option selected value="">Sao Paulo</option>
                <option>Rio de Janeiro</option>
              </select>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Está tudo correto?
                </label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Enviar Formulario</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</body>
