<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oh My Dog : Petshop</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Oh My Dog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p2" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/"> Inicio </a>
            <a class="nav-link" href="#sobre">Sobre</a>
            <a class="nav-link" href="#nossoservicos">Serviços</a>
            <a class="nav-link" href="/planos">Planos</a>
            <a class="nav-link" href="#contato">Contato</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Login</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Faça o seu login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="form">
                    <div class="mb-3">
                        <label for="recipient-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" autocomplete="off" id="recipient-email" placeholder="backend@teamsdevs.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-password" class="col-form-label">Senha:</label>
                        <input type="password" class="form-control" id="recipient-password" placeholder="senhaescondida" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="/registre.html">Registre-se</button>
                        <button type="submit" class="btn btn-primary" >Entrar</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <h1>Teste de login  <a href="/loginacept.html">loginacept</a></h1>
    <h1>Aqui vai ser os produtos</h1>
    <h1>Aqui vai ser o footer</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src=""> </script>
</body>
</html>